body {
}

.navbar-nav > li{
  padding-left:20px;
  padding-right:20px;
}

.navbar-brand{
  padding-left:40px;
}

/* Dims Hero Video Reel */
#hero::after{
  height: 50vh;;
  width: 100%;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 9;
}

/* Container for Video Reel */
#hero{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  width: 100%;
  background-color: rgb(153, 153, 153);
  

  /* width: 100vw;
  height: 100vh;
  text-align: center;
  overflow: hidden; */
}

/* Reel edit */
#hero video{
  margin-top: 1em;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 50vh;
  object-fit: cover;
}

#hero .reel-caption{
  color: white;
  text-align: center;
  position: relative;
  z-index: 10;
}

#about-me{
  margin-top: 5rem;
  margin: ;
}

#about-me h2 {
  font-family: 'Montserrat', sans-serif;
  font-style: bold;
  text-align: center;
  font-size: 3em;
  margin-bottom: 5rem;
}

#about-me img{
  float: left;
  height: 400px;
  width: 400px;
  object-fit: cover;
}




/* // Color mode variables in _root.scss
@include color-mode(dark) {
  // CSS variable overrides here...
} */

/* .gradientBackground{
  background: linear-gradient(43deg, #4b4b4b 0%, #969696 46%, #dbdbdb 100%);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
  filter: blur(5px);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
} */