body 
{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: #eee;
  background-image: url(/assets/images/criss-cross.webp);
  font: 1.2rem/1.4 Georgia, serif;
}

nav
{
  background-color: #eee;
}

.navbar-toggler
{
  border: none;
}

.active
{
  font-weight: 500;
}

.nav-item:hover
{
  text-decoration: underline 1px #525252;
  text-underline-offset: 8px;
}

.social-icons
{
  transform: scale(1.3);
}

.social-icons:hover
{
  transform: scale(1.5);
}

h1
{
  text-transform: uppercase;
}

/* Horizontal Line under H2 */
.mainHR
{
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}

/* Navigation Bar */
.navbar-collapse
{
  text-align: left;
}

.navbar-nav > li
{
  padding-left:10px;
  padding-right:10px;
}

/* Footer */
footer
{
  background-color: #eee;
  padding: 10px;
  
}
footer hr
{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 1px;
}

footer p
{
  text-transform: uppercase;
  font-size: 1rem;
  margin: 0;
}

.center-screen 
{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}